.index {
	height: 100%;

	display: grid;
	grid-template-rows: 30% 20% 10% 30% 10%;
	grid-template-columns: 1fr;
}

// .header {
// 	grid-area: header;
// }

// .heading {
// 	grid-area: heading;
// }

// .sub {
// 	grid-area: sub;
// }

// .btn {
// 	grid-area: btn;
// }

// .footer {
// 	grid-area: footer;
// }
